

/* BOOTSTRAP*/

.row{
    padding: 15px !important;
}

/*************/

.main{
    padding: 50px !important;
}

.titleSugest{
    margin-top: 30px;
    color: #666;
}

.divSuggest{
    margin: 15px !important;
    border: 1px solid #ccc;
    border-radius: 5px;
}